main{
     margin-left: 180px;
	 padding-right: 20px;
	 padding-bottom: 20px;
}
body { background-image: url('../images/gradientblue.jpg');
      color: #D6E3FF;
	  font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 80%;
          margin-right: auto;
		  margin-left: auto;
		  min-width: 700px;
		  max-width: 1024px;
		  background-color:#FFFFFF;
		  color:#000066;
}
table{
	border-style: solid;
	border-color: #00008B;
	border: 2px;
	border-collapse: collapse;
}
td{
	color: #003366;
	padding: 0.5em;
	border-style: solid;
	border-color: #00008B
}
th{
    	padding: 0.5em;
	border-style: solid;
	border-color: #00008B
	font-weight: bold;
        background-color: #FFFFFF;
	color: #003366;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px #666;
}

header { background-color: #000066;
       color: #FFFFFF;
	   background-image: url('../images/bigfish.gif');
	   background-repeat: no-repeat;
	   background-position: center;
}
h1 { text-align: center;
    font-size: 3em;
    padding: 10px;
    line-height: 150%;
    text-shadow: #CCCCCC;	
}
nav { font-weight: bold; 
     float:left;
     width: 150px;
 	 
}
nav ul {
     list-style-type: none;
}
nav a {
     text-decoration: none;
}
nav a:link{
     color: #3262A3;
}
nav a:hover{
     color:#CCCCCC;
}

label{
    float: left;
	display: block;
	text-align: right;
	width: 8em;
	padding-right: auto;
}
input{
    display: block;
    margin-bottom: 1em;
}
textarea{
    display: block;
    margin-bottom: 1em;
}
#mySubmit{
    margin-left: 10em;
}

#leftcolumn { float: left;
			width: 150px;
			}
			
#leftcolumn ul {list-style-type: none; }				
#leftcolumn a:link { color: #3262A3; }
#leftcolumn a { text-decoration: none; }
#leftcolumn a:visited {color: #6699FF; }
#leftcolumn a:hover { color: #CCCCCC; }

#rightcolumn { margin-left: 180px;
			padding-right: 10px;
			padding-bottom: 20px;
			}
		
.nav { font-weight: bold;
}

.category{ font-weight: bold;
            background-color: #FFFFFF;
			color: #003366;
			font-size: 1.1em;
			text-shadow: 1px 1px 1px #666;
}
#mobile{display:none;}
#desktop{display:inline;}
footer { font-size: 0.70em;
       font-style: italic;
	   padding: 10px;
	   margin-left: 180px;
}
img { border-style: none; }
footer nav { text-align: left; }

header, nav, main, footer {display: block;}